/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
body{
	width: 876px;
	margin: 0 auto;
	}

header{
	display:flex;
	justify-content: space-between;
	margin:10px 0;
	align-items:center;

}
button{
	width:130px;
	margin-top:20px;
	padding:8px 0;
	background:white;
	border:1px solid black;
}
nav{
	display:flex;
	justify-content:space-between;
	width:70%;
}
nav a{
	color:gray;
	
}
section{
	margin-top:40px;
}
ul{
	list-style-type: square;
	margin-left:20px;
	line-height:1.7;
}

footer{
	text-align:center;
	margin:20px 0;
}
.m-r-20{
	margin-right:20px;
}
.f-s-12{
	font-size:12px;
}
.indexcontainer{
	display:flex;
	flex-direction:column;
}
.services-header-img{
	padding-top:30px;
	padding-bottom:40px;
}
.titlelogo {
	display:flex;
	justify-content:space-around;
	margin-top: 60px;
}
.left-side{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.left-side h1{
	font-size:70px;
	text-align:center;
}
.left-side button{
	font-size:15px;
}
.main-content{
	border-top:2px solid black;
	padding-top:5%;
}
		
.aboveimgcontent {
	Display:flex;
	justify-content:space-between;
}
.middle-img{
	padding:30px 0;
}

.services2{
	border-bottom: 1px solid black;
	padding-bottom:40px;
	margin-bottom:40px;
}
.services2 h2{
	font-size: 25px;
	
}
.belowimgcontent {
	display:flex;
	justify-content: space-between;
	padding-bottom:30px;
	border-bottom: 2px solid black;
}
.digital-ux{
	border-top:1px solid black;
}
.box1{
	display:flex;
	flex-direction:column;
	border:1px solid black;
	width:48%;
	padding:20px;
}
.box2{
	padding-right:10px;
}
.row1{
	display:flex;
	flex-direction:row;
	width:100%;
	margin:10px 0;
}

.bottomrow{
	display:flex;
	width:100%;
	border-top:1px solid black;
	padding-top:40px;
	margin-top:40px;
}
.img{
	display:flex;
	flex-direction:column;
	border-top:1px solid black;
	width:50%;
}
.serv-img{
	display:flex;
	flex-direction: column;
	width:50%;
}
@media(max-width:800px){
    body{
        width: 95%;
    }
    header{
		flex-direction:column-reverse;
		justify-content:center;
		margin:20px;
		width:95%;
	}
	nav{
		width:95%;
	}
    .logo{
        display:flex;
		justify-content:center;
		padding:5% 0;
    }
    .code-snipet{
		display:none;
	}
	.middle-img{
		width:100%;
	}
}
@media(max-width:500px){
	header{
		flex-direction:column-reverse;
		justify-content:space-around;
		margin:20px 0;
		width:100%;
	}
	nav{
		width:100%;
		display:flex;
		flex-direction: column;
		border-top:1px solid gray;
	}
	nav a{
		padding:2% 0;
		border-bottom:1px solid gray;
		text-align:center;
	}
	.indexcontainer{
		margin:0;
	}
	.aboveimgcontent{
		flex-direction:column;
		justify-content:space-between;
	}
	.middle-img{
		width:100%;
	}
	.belowimgcontent{
		flex-direction:column;
	}
	.box2{
		padding-right:0;
		padding:5% 0;
	}
	.box3{
		padding:5% 0;
	}
	
}